<header role="banner" class="cover-container d-flex w-100 h-100  flex-column">
    <div class="row position-relative">
        <img src="{{asset('assets/images/banner.png')}}" style="max-height:350px" alt="ma bannière">
        <a class="position-absolute top-0 end-0 p-3" href="{{ path('admin') }}">
        <img src="{{asset('assets/images/Gomette 3.png')}}" width="60px" height="60px"></a>
    </div>
</header>